services:
  db:
    image: postgres
    restart: always
    shm_size: 128mb
    ports:
      - 5432:5432
    environment:
      POSTGRES_PASSWORD: mysupersecurepassword
    volumes:
      - ./pgdata:/var/lib/postgresql

  api:
    image: myshorty/api
    build: 
      dockerfile: src/MyShorty.Api/Dockerfile
      context: .
    environment:
      - Application__BaseUri=http://localhost:5000
      - ConnectionStrings__MyShortyContext=Host=db;Database=postgres;Username=postgres;Password=mysupersecurepassword;SearchPath=myshorty
    ports:
      - 5000:8080
    